@font-face {
   font-family: "Orator Std";
   src: url("fonts/OratorStd.eot") format("embedded-opentype"), url("fonts/OratorStd.otf") format("opentype"), url("fonts/OratorStd.woff") format("woff"), url("fonts/OratorStd.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}